<%= render "shared/bandeau",
 titre: "Suivi Personnel",
 texte: "Activité de l'ensemble du personnel" %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <%= render "shared/periode", path: suivi_personnel_exercice_path(@exercice) %>
  <p>
    Nombre de jours total : <%= number_with_precision(@nbre_jours_autres_chantiers + @nbre_jours_conges + @nbre_jours_hp , precision: 2) %> dont:
    <ul>
      <li><%= number_with_precision(@nbre_jours_conges, precision: 2) %> jours de congés</li>
      <li><%= number_with_precision(@nbre_jours_hp, precision: 2) %> jours d'hors-projet</li>
      <li><%= number_with_precision(@nbre_jours_autres_chantiers, precision: 2) %> jours d'autres chantiers</li>
    </ul>

  </p>
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="danger">
        <th>
          Nom</th>
        <th>code chantier</th>
        <th>
          Nombre de jours
        </th>
        <th>% par chantier</th>
      </tr>
    </thead>
    <tbody>
      <% @all_personnes.each do |p_id, totaux| %>
        <tr class="warning">
          <th>
            <%= Personne.find(p_id).full_name %></th>
          <th>chantier</th>
          <% t=0 %>
            <% totaux.each do |code, total| %>
            <% t = t + total %>
            <% end %>
          <th>Nombre de jours (<%= number_with_precision(t, precision: 2) %>)</th>
          <th></th>
        </tr>
        <% totaux.each do |code, total| %>
          <tr>
            <td>
            </td>
            <td><%= code %>
            </td>
            <td><%= number_with_precision(total, precision: 2) %>
            </td>
            <td><%= number_with_precision((total/t)*100, precision: 2) if t>0%>%</td>
          </tr>
        <% end %>

      </tbody>
    <% end %>
  </table>
</div>